body {
  margin: 0;
  padding: 0;
}

img {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 220px;
  z-index: 1;
  height: 90px;
}

nav {
  position: fixed; /* Fija el menú en la parte superior */
  top: 0;
  width: 100%;
  height: 100px;
  background-color: #ffffff;
  z-index: 1000;
  border-bottom: solid rgba(231, 171, 247, 0.15);
  z-index: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 40px;
  text-align: right;
}

nav li {
  display: inline-block;
  position: relative;
  margin: 0 5px;
}

nav a {
  display: block;
  color: rgba(103, 80, 164, 1);
  text-decoration: none;
  padding: 14px 35px;
  text-align: right;
  transition: 0.3s;
  border-radius: 45px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 550; /* Peso medio (Medium) */
}
/* Efecto hover para el menú principal */
nav a:hover {
  background-color: rgba(247, 242, 250, 1);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
nav a:focus {
  background-color: rgba(103, 80, 164, 1);
  color: #ffffff;
}
/* Estilos para el menú desplegable */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(103, 80, 164, 1);
  list-style-type: none;
  padding: 10px 3px;
  margin: 10px 1px 1px 1px;
  top: 100%;
  right: 0;
  left: 0;
  text-align: left;
  border-radius: 20px;
}

.dropdown-content li {
  display: block;
}

.dropdown-content a {
  display: block;
  color: white;
  text-decoration: none;
  text-align: left;
  padding: 13px 25px;
  white-space: nowrap;
}
.dropdown-content a:hover {
  background-color: rgba(247, 242, 250, 1);
  color: rgba(103, 80, 164, 1);
}
/* Agregar estilos para el menú desplegable abierto */
.dropdown.open .dropdown-content {
  display: block;
}
/* Estilos para las flechas */
.arrow {
  display: inline-block;
  transition: transform 0.3s; /* Efecto de rotación */
  margin-left: 9px;
}
/* Aplica la rotación de 180 grados */
.rotate {
  transform: rotate(180deg);
}




.miDiv {
    background-color: #c4e1f7; /* Fondo azul cielo */
    display: flex;
    align-items: center;
    padding: 20px;
    width: 100%;
    height: 30%;
  }
  
  /* Estilos para el h2 */
  .titulo {
    font-size: 36px; /* Tamaño grande */
    font-weight: bold; /* Negritas */
    margin-right: 800px; /* Espacio a la derecha */
    text-align: center;
    margin-bottom: .5px;
  }
  
  /* Estilos para el h3 */
  .subtitulo {
    font-size: 24px; /* Tamaño más pequeño */
    font-weight: bold; /* Negritas */
    margin-bottom: 60px; /* Espacio hacia abajo */
    text-align: center;
    margin-right: 800px;
  }
  
  /* Estilos para el párrafo */
  .parrafo {
    font-family: Arial, sans-serif; /* Tipo de letra profesional */
    font-size: 22px; /* Tamaño del texto */
    text-align: center;
    margin-right: 800px;
    margin-bottom: 80px;
  }
  
  /* Estilos para la imagen */
  #miImagen {
    border-radius: 50%; /* Hacer la imagen circular */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); /* Sombreado ligero */
    width: 300px; /* Tamaño exacto */
    height: 300px; /* Tamaño exacto */
    margin-left: 1000px; /* Mover a la derecha */
    margin-top: 180px;
    float: right;
  }
  
  /* Estilos para el botón */
  .agendarCitaButton {
    background-color: #9370db; /* Morado pastel */
    border: none;
    border-radius: 10px; /* Esquinas redondas */
    padding: 10px 20px; /* Espacio interno */
    color: white; /* Color del texto */
    cursor: pointer;
    margin-left: 600px;
    margin-bottom: 100px;
    
  }
  
  /* Estilos para el botón al pasar el mouse */
  .agendarCitaButton:hover {
    background-color: #7646a1; /* Cambia el color al pasar el mouse */
  }
  .miDiv2{
    background-color: #c4e1f7; /* Fondo azul cielo */
    display: flex;
    align-items: center;
    

  }